/* toggler */

#home{
    height: 100vh;
    background-image: url(./images/1170x600.jpg);
    background-size: cover; 
}
body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    padding: 5px;
    font-size: 28px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
}
nav li{
   
    display: inline-block;
    margin: 0 15px;
   
}

nav ul{
    margin-top: 10px;
}
nav a{
   
    text-decoration: none !important;
    color:white !important;
}
.logo{
    font-size:36px;
    font-weight: bolder;
}

.menu-line{
    height: 3px;
    width: 20px;
    background-color: white;
    margin-bottom: 3px;

}
.menu{
    cursor: pointer;
    display: none;
}

@media all and (max-width:690px){
    nav{
        flex-direction: column;

    }
    nav li{
        display:block;
        padding:10px 0;
    }
    ul{
        text-align: center;
        padding: 0;
        display: none;
    }
    .logo{
        align-self: flex-start;
        margin: 10px 0px 0px 30px;
    }

    .menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .showmenu{
        display: block;
    }
} 


 /* body */

@media all and (max-width:960px){
    .design{
        margin-bottom: 15px;
    }
}

@media screen and (max-width:550px){
    .design{
       margin-left: 10px;
       margin-right: 10px;
    }
}

#text{
    color: white;
    display: flex;
    justify-content: center;
    position:relative;
    top:45%;  
    
}
.colo{
    color: rgb(227, 222, 213);
}

#cent{
    text-align: center;
}

@media screen and (max-width: 600px){
    #bor,.design{
        margin-bottom: 15px;
    } 
    #img img{
        width: 100%;
        height: 90%;
    }
}

@media screen and (max-width: 480px){
    .progress{
        width: 400px;
    }
    .image{
        position: relative;
        left: 20%;
    }
}
#colorchange ul li{
    color: black;
}
#name h1{
    font-size: 80px;
    text-align: center;
    color: white;
}
#name h1 span{
    font-size: 50px;
   
}

.skill{
    padding-top: 120px;
}

/* #port{
    background-size: cover;
} */

#serv{
    font-size: ylarger;
    font-style: oblique;
}
.icon{
   
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border:8px solid   rgb(12, 118, 217) ; 
    
}
.ic{
    width:100%;
    display: flex !important;
    justify-content: center !important;
    
}

.icon:hover{
    background-color: rgb(12, 118, 217) ;
    border-color: rgb(198, 198, 198);
}
.web{
    margin-top: 15%;
}


.design{
    text-align: center;
    background-color: white;
    /* margin-right: 2px; */
    /* border-right: 35px solid rgb(244, 242, 240) ; */
}
#port{
    display:flex;
    justify-content: center !important;
    
}
hr{
    background-color:rgb(32, 134, 178) ;
    width: 60px;
      
}

#web,#blog{
    
    background-color: rgb(244, 242, 240);
    padding-top: 60px;
    padding-bottom: 90px;
}
#white{
    background-color: white;
}
#align{
padding-top: 50px;
}
 /* a,#h1{
   text-decoration: none; 
   color:  white !important;
   
} */
/* #h1{
    font-size: 36px;
    font-weight: bolder !important;
} */

/* .anim{
    text-decoration: none !important;
} */
#services,#about{
    background-color:rgb(244, 242, 240);
}

/* li {
    padding: 10px 20px;
    color: white;
} */
/* #blo{
    padding: 100px;
} */

/* nav{
    background-color: black ;
    position: fixed;
    width: 100%;
    z-index: 1;
} */

.html{
    background-color: rgb(10, 129, 240) ;
    border-radius: 20px;
    width: 90%;
}
.boos{
    background-color: rgb(245, 241, 13) ;
    border-radius: 20px;
    width: 60%;
}
.java{
    background-color: rgb(233, 85, 4) ;
    border-radius: 20px;
    width: 70%;
}
.py{
    background-color: rgb(141, 249, 7) ;
    border-radius: 20px;
    width: 80%;
}
.sql{
    background-color: yellowgreen;
    border-radius: 20px;
    width: 70%;
}
.dj{
    background-color: rgb(205, 122, 50);
    border-radius: 20px;
    width: 50%;
}

.percent{
    display: flex;
    justify-content: space-between;
}

a{
    position:relative;
    margin-bottom: 10px;
}
a::after{
    content: '';
    position :absolute;
    bottom:0;
   
    left:0;
    width:0;
    height:2px;
    background-color:white;
}
a:hover::after{
    animation: line 1s forwards;  
}

@keyframes line{
    from{
       width:0px;
    }
    to{
        width:50px;
    }
}

/* #hover{
    width: 0px;
}
#hover:hover{
    height: 3px;
    width: 90%;
    background-color: wheat;
   
} */
    
.file{
    width: 400px;
    
}

p,.file{
    padding-left: 20px;
}



#color{
    background-color:white;
   
}
#contact{
    background-color:rgb(244, 242, 240) ;
    display: flex;
    justify-content: center !important;
    width: 100%;
}
input{
    height: 35px;
    width: 80%;
}
textarea{
    height: 120px;
    width: 80%;
}
/* .design{
    width: 100px !important;
    margin-right: 2px;
} */
#gap{
    display: flex!important;
    justify-content: space-around;
}
